

a:link 
{ 
    color: #000000; 
    text-decoration: none;
    font-size: 20px;
}

.box1
{
    box-sizing: content-box;
    box-align: center;
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

.box2
{
    box-sizing: content-box;
    box-align: center;
    background-color:#347B98 ;
    margin-left: 10%;
    margin-right: 10%;
    

}

.box3
{
    text-align: center;
    box-sizing: content-box;
    box-align: center;
    background-color: black ;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


li
{
    list-style: none;
    height: 90px;
}

ul
{
list-style-type: none;
margin: 0;
padding: 0;
}

/* Nav display */
li
{
display: inline;
vertical-align: baseline;
margin-right: 5%;

}

#name 
{
    display: inline;
    font-weight: bolder;
    font-size: 36px;
    margin-left: 9%;
    margin-right: 50%;
    color: #347B98;
   
}
.container 
{
    padding: 1%;
    margin-bottom: 5%;
    width: 100%;
    height: 20%;
    background-color: white;
  
}

.aboutme
{
    font-size: 36px;
    font-weight: bold;
    display: grid;

}
.pabme
{
    font-family: 'Cabin', sans-serif;
    text-align: center;
    margin-left: 5%;
    margin-right:5%;

}